.container {
	position: relative;
	padding-top: 50px;
}
#women {
	display: none;
}
.clearfix:after {
	display: table;
	clear: both;
	content: "";
}
.container a {
	color: #000000;
	text-decoration: none;
}
.container li {
	list-style: none; 
}
#tree-navigator {
	position: relative;
	top: 0px;
	left: 0px;
	width: 190px;
	background: url('../images/tmall-tree-navigator-background.png') #181818 no-repeat;
	color: #FFFFFF;
}
#tree-navigator h2 {
	font-size: 13px;
	background-color: #C40000;
	height: 33px;
	text-align: center;
	line-height: 33px;
}
#main-navigator li {
	line-height: 30px;
	position: relative;
	height: 30px;
	width: 190px;
	font-size: 12px;
}
#main-navigator li a {
	text-decoration: none;
	color: #ffffff;
	font-size: 13px;
}
#main-navigator span {
	margin-right: 47px;
}
#main-navigator li a:hover {
	text-decoration: underline;
}
.special {
	position: absolute;
	right: 0px;
	top: 10px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 6px 6px 6px 0px;
	border-right-color: #f3f3f3;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.triangle {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 4px 4px 0px;
	border-color: #fff transparent;
	position: absolute;
	top: 14px;
	right: 10px;
}
#good-product-outer {
	position: absolute;
	display: none;
	top: 83px;
	left: 190px;
	background-color: #f1f2f3;
	opacity: 0.6;
}
#good-product-outer li {
	width: 70px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
}
.sub-nav {
	width: 400px;
	height: 478px;
	position: absolute;
	top: 83px;
	border: 1px solid #f1f2f3;
	left: 190px;
	background-color: #fbfbfb;
	opacity: 0.95;
}
.sub-nav-content {
	padding: 0px 20px;
	font-size: 12px;
}
.sub-nav-content .caption {
	height: 45px;
	border-bottom: 1px solid #000000;
	color: #000;
	position: relative;
	font-weight: bold;
	font-size: 14px;
}
.sub-nav-content .caption .title {
	margin-left: 20px;
	position: absolute;
	left: 50px;
	top: 25px;
}
.sub-nav .sub-nav-content .caption .people {
	width: 50px;
	height: 50px;
	background-image: url('../images/tmall-nav.png');
	display: inline-block;
	overflow: hidden;
}
#women #people1 {
	background-position: -20px -16px;
}
#women #people2 {
	background-position: -20px -63px;
}
.more {
	position: absolute;
	right: 0px;
	padding-right: 20px;
	top: 25px;
	background-image: url('../images/small-right-arrow.png');
	background-repeat: no-repeat;
	background-position: 28px 2px;
}
.sub-nav .red {
	color: #d01f47;
}
.sub-nav .content .item {
	border-right: 1px solid black;
	float: left;
	margin-top: 5px;
	padding-right: 7px;
	margin-right: 7px;
}
.sub-nav .content .last {
	border: none;
	padding-right: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
}
.content a:hover {
	text-decoration: underline;
	color: #d01f47;
}
.sub-nav-content > .content {
	border-bottom: 1px dotted black;	
	width: 340px;
	padding: 20px 0px;
	padding-bottom: 15px;
	padding-top:10px;
	margin-left: 10px;
}
.content a {
	color: #888;
}
.sub-nav-content > .last {
	border: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
#men .blue {
	color: #1291cf;
}
#men a:hover {
	color: #1291cf;
}
#men {
	display: none;
}
#shoes { display: none; }
#shoes .purple { color: #8b478b; }
#shoes a:hover {  color: #8b478b;  }
#maquillage .pink { color: #d8648d; }
#maquillage a:hover { color: #d8648d; }
#maquillage { display: none; }
#computer .blue2 { color: #2062d3; }
#computer a:hover { color: #2062d3; }
#computer { display: none; }
#mother .mother-color { color: #df3f4e; }
#mother a:hover { color: #df3f4e; }
#mother { display: none; }
#food .food-color { color: #f56a00; }
#food a:hover { color: #f56a00; }
#food { display: none; }
#electric .electric-color { color: #2262d3; }
#electric a:hover { color: #2262d3; }
#electric { display: none; }
#furniture .fur-c { color: #cb3a0a; }
#furniture a:hover { color: #cb3a0a; }
#furniture { display: none; }
#jewelry .c { color: #B38E63; }
#jewelry a:hover { color: #B38E63; }
#jewelry { display: none; }
#car .c { color: #4459A3; }
#car a:hover{ color: #4459a3; }
#car { display: none; }
#home .c { color: #9fb000; }
#home a:hover { color: #9fb000; }
#home { display: none; }
#health .c { color: #00b78b; }
#health a:hover { color: #00b78b; }
#health { display: none; }
#kitchen .c { color: #6ba536; }
#kitchen a:hover { color: #6ba536; }
#kitchen { display: none; }
#book .c { color: #0190b2; }
#book a:hover { color: #0190b2; }
