.demo1-content {
	position: relative;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	width: 710px;
	height: 443px;
}
body {
	background-color: #f1f2f3;
}
.left-arrow-bar, .right-arrow-bar {
	display: none;
	position: absolute;
	top: 0px;
	width: 60px;
	height: 445px;
	cursor: pointer;
}
.left-arrow-bar {
	left: 0px;
}
.right-arrow-bar {
	right: 0px; 
}
.left-arrow-bar:selection {
	color: white;
	background: #cee3f2;
}
.left-arrow-bar span, .right-arrow-bar span {
	display: block;
	position: absolute;
	top: 196px;
	width: 40px;
	height: 40px;	
}
.left-arrow-bar span {
	left: 8px;
	background: url('../images/left.png') no-repeat;
}
.right-arrow-bar span {
	right: 8px;
	background: url('../images/right.png') no-repeat;
}
.inner-content {
	position: absolute;
	bottom: 30px;
	left: 40px;
	width: 615px;
	height: 64px;
	padding-left: 17px;
	background-color: #000000;
	opacity: 0.45;
	border-radius: 5px;
	color: #ffffff;
	font-size: 15px;
}
.empty-point, .point {
	margin-right: 8px;
	float: right;
	cursor: pointer;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	display: block;
}
.empty-point {
	border-style: solid;
	border-color: #b4b1af;
	border-size: 1px;
}
.point {
	background-color: #b4b1af;
	margin-top: 3px;		/*margin-top 真的没有问题吗？还是说我以前误解它了, 找到解决办法了。*/
}
.points {
	position: absolute;
	right: 30px;
	bottom: 26px;
	width: 144px;
	overflow: hidden;
}
#inner-text {
	font-size: 28px;
	float: left;
	margin-top: 12px;
}
#inner-author {
	float: left;
	margin-left: 5px;
	margin-top: 20px;
}
#switch-content {
	position: absolute;
	width: 3650px;
	height: 443px;
	left: 0px;
}
#switch-content .item a {
	display: block;
	width: 100%;
	height: 100%;
	float: left;
	background-image: url('../images/book.jpeg');
}
.item {
	width: 710px;
	height: 443px;
	float: left;
	position: absolute;
}
.cur {
	display: block;
}
